

.box{
    text-align: center;
    background-color: rgb(12, 177, 12);
    color: white;
}

.boxx{
    background-color: rgb(212, 212, 212);
}

.hgn{
    width: 25%;
}

.yty{
    width: 25%;
    height: 80px;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    width: 10%;
    border-radius: 2px;
}


.bh{
    border-radius: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
    height: 70px;
}

td{
    border: 1px solid rgb(54, 54, 54);
}

.uyt{
background-color: rgb(212, 212, 212);
}

.ihib{
    width: 100%;
}

.yytt{
    background-color: black;
    text-align: center;
    color: white;
}



